@font-face {
    font-family:'pokemon';
    src: url('./fonte/POKPIX3.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    text-align: center; 
    font-family:'Courier New', Courier, monospace;
}

html{
    background-color: lightcoral;
}

.container{
display: inline-block;
background-color: lightblue;
width: 300px;
border:solid 2px black;
border-radius: 10px;
margin-bottom: 10px;
margin-top: 10px;
}
div{
    background-color: lightcoral;
}
img{
    width: 300px;
    text-align: center;
    background-color: lightblue;   
}
label{
    margin-right: 30px;
    font-size: 30px;
   
}
input{
    margin-bottom: 10px;
    font-size: 17px;

}
button{
    font-size: 17px;
}
#botao2{
    margin-top: 5px;
    
}
#sim{
    margin-top: 15px;
    font-family: 'pokemon';
}